:root {
  --background: #ffffff;
  --title: #ffffff;
  --text-one--title-two--title-three--title-name--title-small: #212121;
  --text--small-text: #757575;
  --color-link: #2196f3;
  --main-color: #212121;
  --black: #000000;
  --background-hero: #2f303a;
  --hero-blok: #eeeeee;
  --button: #f5f4fa;
}

body {
  background: var(--background);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  margin: 0px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*border: 1px solid red;*/
}
.page-header {
  background: var(--background);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

ul {
  list-style: none;
}
.header-nav,
.nav-list,
.contact-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list ul {
  display: inline;
  align-items: center;
  justify-content: space-between;
  width: 135px;
  padding-top: 32px;
  padding-right: 331px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-nav {
  justify-content: flex-start;
  margin-right: 93px;
  margin: 0px;
}
.contact-list ul {
  display: inline;
  align-items: center;
  justify-content: space-between;
  width: 135px;
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo-web {
  color: var(--color-link);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
  letter-spacing: 0.03em;
}
.logo-two {
  color: var(--title);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 20px;
  width: 145px;
}
.site-nav {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-right: 50px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.02em;
  display: flex;
}

.site-nav:hover,
.site-nav:focus,
.site-nav:active {
  color: var(--color-link);
}
.open-link {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-right: 50px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.02em;
}

.open-link:hover,
.open-link:focus,
.open-link:active {
  color: var(--color-link);
}
.open {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-right: 50px;
  color: var(--color-link);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.open:hover,
.open:focus,
.open:active {
  color: var(--color-link);
}
.hero {
  background: var(--background-hero);
  text-align: center;
  width: 1200px;
  padding: 94px;
  margin: 0 auto;
}

.hero-blok {
  color: var(--hero-blok);
  display: flex;
}
button {
  display: block;
}
.button-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 614px;
  padding-top: 94px;
  padding-right: 8px;
  padding-bottom: 50px;
  padding-left: 8px;
  margin: 0 auto;
}
.button {
  color: var(--main-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  background: var(--button);
}
.button:hover,
.button:focus,
.button:active {
  background: var(--color-link);
  color: var(--title);
}

.hero-title {
  display: inline-block;
  color: var(--title);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 200px;
  width: 696px;
}
.botton-studio {
  align-items: center;
  color: var(--title);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  background: var(--color-link);
  margin: 0 auto;
  margin-bottom: 200px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-link {
  display: inline-block;
  align-items: stretch;
  justify-content: space-around;
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-right: 50px;
  color: var(--text--small-text);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.page-contact {
  display: inline-block;
  align-items: stretch;
  justify-content: space-around;
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
  color: var(--text--small-text);
  text-decoration: none;
  letter-spacing: 0.02em;
}
.page-link:hover,
.page-link:focus,
.page-link:active {
  color: var(--color-link);
}
.page-contact:hover,
.page-contact:focus,
.page-contact:active {
  color: var(--color-link);
}

.text-section {
  display: flex;
}
.only-text {
  display: flex;
  align-items: stretch;
  padding-top: 94px;
  padding-right: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
  text-align: left;
  width: 1170px;
}
.text-one {
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
}
.text {
  display: block;
  color: var(--text--small-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
}
.title-two {
  display: block;
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
  letter-spacing: 0.03em;
  text-align: center;
}
.img {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 30px 0px;
  border: 1px;
}

.img ul {
  justify-content: space-between;
  width: 370px;
}

.team {
  background: var(--button);
  padding: 0 94px;
}

.title-three {
  display: block;
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
  letter-spacing: 0.03em;
  padding-top: 94px;
  text-align: center;
}
.our-team {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
  margin: 30px 0px;
  border: 1px;
}
.our-team ul {
  justify-content: space-between;
  width: 270px;
}
.title-name {
  display: block;
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  letter-spacing: 0.03em;
  width: 134px;
  text-align: center;
  white-space: pre;
  padding: 30px 68px 10px;
  margin: 0px;
}

.small-text {
  color: var(--text--small-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0px;
  text-align: center;
}
.title-small {
  display: block;
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  text-decoration: none;
  width: 322px;
  white-space: pre;
}
.our-team.container {
  border: 1px;
}
.small-text-p {
  color: var(--text--small-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding: 4px 24px 20px;
  margin: 0px;
}
.card-title {
  padding: 20px 24px 4px;
  margin: 0px;
}
.photo {
  text-decoration: none;
}
.images {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 34px 30px;
  margin-left: -30px;
  margin-top: -30px;
  border: 1px;
}
.photo li {
  border: 1px solid;
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
}
.footer {
  background: var(--background-hero);
  width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
  text-align: left;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  letter-spacing: 0.03em;
  width: 231px;
  padding: 9px;
  text-align: left;
}
.link {
  width: 231px;
  padding: 9px;
  padding-bottom: 60px;
  display: inline;
  justify-content: flex-start;
}
.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: var(--color-link);
}
.footer-address {
  display: block;
  color: var(--title);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 9px;
  width: 231px;
  text-align: left;
}
